<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>templateMetadata</key>
	<dict>
		<key>templateLocale</key>
		<string>en</string>
		<key>templateName</key>
		<string>Blank</string>
		<key>templateVersion</key>
		<string>11748b073561ddce102481057ac60ba7</string>
	</dict>
</dict>
</plist>
